@model NewOne.Models.UsedMaterial

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsedMaterial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDFoodDeltails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDFoodDeltails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
