@model IEnumerable<NewOne.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên khách hàng

        </th>
        <th>
            Tên nhân viên

        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer().FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee().FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @{
                    if (item.Type == 0)
                    {
                        <p class="label label-danger">Tại chỗ</p>
                    }
                    else
                    {
                        <p class="label label-danger">Mang về</p>
                    }
                }
            </td>
            <td>
                @{
                    if (item.Status == 0)
                    {
                        <div class="btn-group dropleft">
                            <button type="button" class="btn text-white text-xs font-weight-bold bg-gradient-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Đang chuẩn bị
                            </button>
                            <div class="dropdown-menu">
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 0})" class="text-white text-xs font-weight-bold bg-gradient-dark btn">Đang chuẩn bị</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 1})" class="text-white text-xs font-weight-bold bg-gradient-warning btn">Đang vận chuyển</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 2})" class="text-white text-xs font-weight-bold bg-gradient-success btn">Đã phục vụ</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 3})" class="text-white text-xs font-weight-bold bg-gradient-danger btn">Đã thanh toán</a>
                            </div>
                        </div>

                    }
                    if (item.Status == 1)
                    {
                        <div class="btn-group dropleft">
                            <button class="text-white text-xs font-weight-bold bg-gradient-warning btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đang vận chuyển</button>
                            <div class="dropdown-menu">
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 0})" class="text-white text-xs font-weight-bold bg-gradient-dark btn">Đang chuẩn bị</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 1})" class="text-white text-xs font-weight-bold bg-gradient-warning btn">Đang vận chuyển</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 2})" class="text-white text-xs font-weight-bold bg-gradient-success btn">Đã  phục vụ</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 3})" class="text-white text-xs font-weight-bold bg-gradient-danger btn">Đã thanh toán</a>
                            </div>
                        </div>

                    }
                    if (item.Status == 2)
                    {
                        <div class="btn-group dropleft">
                            <button class="text-white text-xs font-weight-bold bg-gradient-success btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đã giao hàng thành công</button>
                            <div class="dropdown-menu">
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 0})" class="text-white text-xs font-weight-bold bg-gradient-dark btn">Đang chuẩn bị</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 1})" class="text-white text-xs font-weight-bold bg-gradient-warning btn">Đang vận chuyển</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 2})" class="text-white text-xs font-weight-bold bg-gradient-success btn">Đã phục vụ</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 3})" class="text-white text-xs font-weight-bold bg-gradient-danger btn">Đã thanh toán</a>
                            </div>
                        </div>

                    }
                    if (item.Status == 3)
                    {
                        <div class="btn-group dropleft">
                            <button class="text-white text-xs font-weight-bold bg-gradient-danger btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đã thanh toán</button>
                            <div class="dropdown-menu">
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 0})" class="text-white text-xs font-weight-bold bg-gradient-dark btn">Đang chuẩn bị</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 1})" class="text-white text-xs font-weight-bold bg-gradient-warning btn">Đang vận chuyển</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 2})" class="text-white text-xs font-weight-bold bg-gradient-success btn">Đã phục vu</a>
                                <br />
                                <a href="@Url.Action("Update", "Orders", new {id = item.ID,status = 3})" class="text-white text-xs font-weight-bold bg-gradient-danger btn">Đã thanh toán</a>
                            </div>
                        </div>

                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new
           {
               @class = "btn btn-primary"
           })
                <a href="@Url.Action("Index", "OrderDetails", new { IDOrder = item.ID})" class="btn btn-success">Chi tiết hóa đơn</a>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new
           {
               @class = "btn btn-danger"
           })
            </td>
        </tr>
    }

</table>
